@font-face {
  font-family: Vazir;
  src: url("./assets/Vazir.ttf");
}
* {
  font-family: Vazir;
}
tbody tr:hover {
  background-color: #e7e7e7;
  
}
table {
text-align: center;
margin: 0 auto;
width: 100%;
max-width: 800px;
border-collapse: collapse;
padding: 10px 0;
}
table,td , th{
  border: 1px solid #dddddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;

}
